.category-container {
    min-height: 70vh;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

    padding: 3rem;
}

.category-container h1 {
    font-size: 3rem;
    
}

.category-container hr {
    height: 5px;
    width: 80%;
    margin: 25px 0 25px;

    color: black;
    background-color: black;
    border: black;
}

.category-container a {
    height: auto;
    width: auto;
    background-color: transparent;
    border: 3px solid black;

    padding: 5px 15px;

    color: black;
    justify-content: space-around;

    font-size: 1.3rem;
    font-family: 'Cousine', monospace;
    text-decoration: none;
    font-weight: 700;
    transition: 300ms;

    cursor: pointer;
}

.category-container a:hover {
    border: 3px solid #C7A505;
    color: #C7A505;
}

#products-grid {
    height: auto;
    width: 100%;

    display: flex;
    
    position: relative;
    justify-content: center;
    align-items: center;
}

#products-grid a {
    height: auto;
    width: 25%;

    display: flex;
    
    position: relative;
    justify-content: center;

    border: none;
    font-size: 1rem;
}

#products-grid a:hover {
    border: none;
}



/* MEDIA QUERY: */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

.category-container {
    padding: 1rem;
}

.category-container {
    font-size: 1rem;
}

#products-grid {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;

    justify-items: center;
    font-family: 'Mulish', sans-serif;

}

#products-grid a {
    height: auto;
    width: 100%;

    display: block;

    border: none;
    font-size: 1rem;
}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

